/* Quiz styles */
$bgColor: aliceblue;
$font: sans-serif;
$ltMargin: 50px;
$padding: 10px;

body, p,  {
     font-family:$font;
    font-size: 1em;
    font-style:oblique;
}

@mixin border ($borderWidth: 2px, $borderType: solid, $borderColor: #064277, $borderRaduius: 20px){
    border: $borderWidth $borderType $borderColor;
    border-radius: $borderRaduius;
}
header {
    @include border;
    margin: 10px auto;
    padding: $padding;
    background-color: $bgColor;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
   
    background-color: #dadadb
}


h1 {
    color:#58a0e0;
}

#content {
    @include border;
    margin: 10px auto;
    padding: $padding;
    background-color: $bgColor;
}

#list{
    @include border;
    background-color: $bgColor;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $ltMargin;
    color:#58a0e0
}

ul{
    margin-left: $ltMargin;
}


.samplepara {
    @include border (3px, solid, #58a0e0, 20px, );
    
    padding: 10px;
    background-color: white;
}

footer {
    @include border;
    margin: 10px auto;
    padding: $padding;
    background-color: $bgColor;
}

#footer {
    font-size: .75em;
    font-style:italic;
    font-weight: bold;
    color: #064277;
    text-align: center;
}


